{% extends "base.html" %}
{% block title %}ChatSUAP - Home{% endblock %}
{% block content %}
<div class="d-flex flex-column justify-content-center align-items-center text-center vh-100">
  <img
    src="{{ url_for('static', filename='images/image 10.png') }}"
    alt="Bot"
    class="bot-avatar mb-4"
    style="width: 150px"
  />
  <a href="{{ url_for('professor') }}" class="mb-2">
    <button class="btn btn-primary">SOU PROFESSOR</button>
  </a>
  <a href="{{ url_for('aluno') }}">
    <button class="btn btn-secondary">SOU ALUNO</button>
  </a>
</div>

{% endblock %}
